/* RESET */

* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* STYLES */

body{
    font-family: 'Montserrat', sans-serif;
    color: #6e6e6e;
}

main{
    height: calc(100vh - 90px);
}

h2{
    color: #ffffff;
    margin-top: 2rem;
}

h4{
    color: #ffffff;
    margin: 1.5rem 1.25rem .5rem;
}

/* .colors{
    color highlight: #bcff33;
    color sidebar: #000000;
    color top-main: #080b12;
    color main-bg: #141922;
    color footer: #282828;
} */

.flex-col{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*NAV*/
nav{
    width: 230px;
    height: 100%;
    background-color: #000000;
}

.big-logo{
    height: 40px;
    margin: 1.25rem;
}

.small-logo{
    width: 28px;
    margin: 1rem 1.25rem .5rem;
}

.menu-desktop{
    height: 100%;
    justify-content: space-between;
}

ul li{
    list-style: none;
    height: 35px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

ul li img{
    width: 22px;
    margin-left: 1.25rem;
    margin-right: .5rem;
    filter: invert(.3);
}

.selected{
    border-left: 3px solid #bcff33;
    color: #ffffff;
}

.add-playlist{
    width: 35px;
    height: 35px;
    background-color: #a3a3a3;
    color: #000000;
    margin-left: 1.25rem;
    margin-right: .5rem;
    font-size: 1.8rem;
    text-align: center;
}

.playlist{
    margin-left: 1.25rem;
}

.install-app{
    font-size: .8rem;
    font-weight: 700;
    margin: .75rem 1.25rem;
}

.install-app img{
    width: 15px;
    margin-right: .5rem;
    filter: invert(.3);
}

hr{
    width: calc(100% - 2.5rem);
    margin: 0 auto;
}

.user-profile{
    align-items: center;
    color: #ffffff;
    font-size: .9rem;
    font-weight: 600;
}


.user-profile img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #808080;
    margin: 1rem .5rem .5rem 1.25rem;
}

.menu-mobile{
    display: none;
}


/*MAIN*/

.activity{
    width: calc(100% - 230px);
    height: 100%;
    background-color: #141922;
    overflow-y: scroll;
}

.activity-top{
    background-color: #080b12;
    height: 90px;
    text-align: right;
    padding: 2rem;
    justify-content: end;
}

button{
    border: 1px solid #ffffff;
    background-color: #080b12;
    color: #ffffff;
    border-radius: 20px;
    font-weight: 600;
    font-size: .8rem;
    padding: .5rem 2rem;
}

button:hover{
    scale: 1.1;
}

p{
    margin-bottom: .75rem;
}

.activity-menu{
    justify-content: center;
}

.highlight{
    width: 30px;
    height: 2px;
    background-color: #bcff33;
}

.activity-menu ul{
    margin-top: 1rem;
    align-items: baseline;
}

.activity-menu li{
    font-size: .8rem;
    font-weight: 700;
    margin: 0 .75rem;
    padding: 0;
    height: 20px;
}

.activity-menu li:hover{
    color: #ffffff;
}

.activity-main{
    width: 98%;
    margin: 0 auto;
}

.recent-discs{
    margin-top: 1rem;
    justify-content: space-between;
}

.disc{
    width: calc((100% / 6) - 1rem);
    max-width: 180px;
    text-align: center;
}

.img-disc{
    position: relative;
}

.disc img{
    width: 100%;
}

.disc i{
    position: absolute;
    font-size: 4rem;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: 2;
    color: #ffffff;
    display: none;
    
}

.disc:hover{
    filter: grayscale(.8);
    cursor: pointer;
    transition: all 1s linear;
}

.disc:hover i{
    display: block;
}

.for-you,
.popular{
    gap: 1rem
}

.popular img{
    border-radius: 50%;
}
/*FOOTER*/

footer{
    height: 90px;
    background-color: #282828;
    justify-content: space-between;
    align-items: center;
    padding: .5rem
}

.playing-now{
    width: calc(100vw / 9);
}

.playing-art{
    width: 80%;
    justify-content: start;
    align-items: center;
}

.playing-art img{
    width: 42px;
    margin-right: .5rem;
}

.playing-data{
    width: 50%;
    justify-content: center;
}

.playing-actions{
    width: 20%;
    justify-content: space-between;
    align-items: center;
}

.song-title,
.artist-name{
    margin-bottom: 0;
}

.song-title{
    font-size: .8rem;
    color: #ffffff;
    font-weight: 800;
}

.artist-name{
    font-size: .7rem;
    font-weight: 800;
}

.player{
    width: calc((100vw / 9) * 3);
}

.player-top{
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 1;
}

.player-top i{
    font-size: 1rem;
    color: #ffffff;
    margin: .75rem;
}

.player-top i.fa-circle-play{
    font-size: 1.5rem;
}

.player-bottom{
    justify-content: space-between;
    align-items: center;
    flex-shrink: 3;
}

.timebar{
    width: 80%;
    height: 5px;
    background-color: #5a5a5a;
    border-radius: 2px;
    position: relative;
}

.current-time{
    position: absolute;
    width: 15%;
    height: 5px;
    background-color: #c1c1c1;
    border-radius: 2px;
}

.selector{
    transform: translate(-50%, -50%);
    height: 15px;
    width: 15px;
    position: absolute;
    background-color: #c1c1c1;
    left: 15%;
    top: 50%;
    border-radius: 50%;
    display: none;
}

.current-time:hover{
    background-color: #bcff33;
    display: block;
}



.play-time{
    font-size: .8rem;
    font-weight: 800;
    color: #ffffff;
}

.controls{
    width: 220px;
    justify-content: flex-end;
    align-items: center;
}

.controls i{
    margin-right: .75rem;
    color: #ffffff;
}

.volume-bar{
    width: 50%;
    height: 5px;
    background-color: #5a5a5a;
    border-radius: 2px;
    position: relative;
}

.current-volume{
    position: absolute;
    width: 20%;
    height: 5px;
    background-color: #c1c1c1;
    border-radius: 2px;
}

.current-volume:hover{
    background-color: #bcff33;
}

@media screen and (max-width: 992px){
    .disc{
        width: calc((100% / 4) - 1rem);
        max-width: 180px;
        text-align: center;
    }

    .recent-discs{
        margin-top: 1rem;
        justify-content: start;
        gap:1rem;
    }
}

@media screen and (max-width: 768px){
    .disc{
        width: calc((100% / 2) - 1rem);
        max-width: 180px;
        text-align: center;
    }

    .playing-now{
        width: calc((100vw / 9)*3);
    }

    .playing-art{
        width: 60%;
    }

    .playing-actions{
        flex-direction: column;
    }

    .player{
        width: 30%;
    }

    .timebar{
        width: 50%;
    }
}

@media screen and (max-width: 576px){
    nav{
        width: 50px;
    }    
    
    .menu-desktop{
        display: none;
    }

    .menu-mobile{
        height: 100%;
        justify-content: space-between;
        display: flex;
        padding: .75rem;
    }

    .menu-mobile img{
        margin:0 auto;
    }

    .install-app{
        margin: 1rem 0;
        align-items: center;
    }

    .activity{
        width: calc(100vw - 50px);
    }

    .activity-main{
        width: 97%;
        margin:0 auto;
    }

    .disc{
        max-width: calc((100% / 2) - 1rem);
        text-align: center;
    }

    .img-art img{
        width: 28px;
        height: 28px;
    }

    footer{
        flex-wrap: nowrap;
    }

    .controls{
        width: 180px;
    }

    .controls i{
        margin-right: .5rem;
    }
}

@media screen and (max-height: 750px){
    nav{
        overflow-y: scroll;
    }
}