/* RESET */

* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* STYLES */

/* .colors{
    color highlight: #bcff33;
    color sidebar: #000000;
    color top-main: #080b12;
    color main-bg: #141922;
    color footer: #282828;
} */

.flex{
    display: flex;
}

main{
    height: calc(100vh - 90px);
}

nav{
    width: 230px;
    height: 100%;
    background-color: #000000;
}

.activity{
    width: calc(100% - 230px);
    height: 100%;
    background-color: #141922;
}

footer{
    height: 90px;
    background-color: #282828;
}